<style type="text/css">
	div ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	}

	div ul li a{
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	}
	div ul li a:hover:not(.active) {
	background-color: #111;
	}
	.active {
	background-color: #4CAF50;
	}
	li a{
		color: blue;
	}
</style>
<div>
<ul>
		<li> <a class="active" id="sections">Sections</a></li>
		<li> <a href="bookindex.html" id="books">Books</a></li>
		<li> <a href="registration.html" id="myAccount">My account</a></li>
</ul>
</div>

{% if all_Sections %}
	<ul>
		{% for genre in all_Sections %}
		<li>
			<a href = "/books/{{genre.id}}/">{{genre.genre}}
			</a>
		</li>
		{% endfor %}
	</ul>
{% else %}
	No Sections sorsssssss
{% endif %}